.dooimg{
    background-image: url(backcopy.jpeg);
    height: 200px;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
}
body{
    margin: 0%;
    background-color: #212529;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  box-sizing: border-box;
}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 30px 50px;
  background-color: #212529;
  color: aliceblue;
}

.counter {
  font-size: 60px;
  margin-top: 10px;
}

@media (max-width: 580px) {
  body {
    flex-direction: column;
  }
}
.h1whiter{
    color: aliceblue;
}
.beyond{
    color: white;
}